form {
  display: flex;
  flex-direction: column;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;
}

a {
  text-decoration: none;
  text-align: center;
}

.container form {
  background-color: dimgrey;
  display: flex;
  flex-direction: column;
  width: max-content;
  padding: 10px 10px 10px 10px;
}

input + a {
  margin-top: 5px;
}
div > p {
  text-align: center;
}

@media (max-width: 450px) {
  .container form {
    flex-grow: 1;
    width: 75%;
  }
}