#nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-radius: 10px;
  background-color: dimgrey;
}

.nav-bar-element {
  float: left;
}

.nav-bar-link {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-bar-link:hover {
  background-color: darkgrey;
}

.flex-item {
  border-radius: 10px;
}