#footer {
    color: white;
    text-align: center;
    margin: 1px;
    padding: 10px;
    overflow: hidden;
    border-radius: 10px;
    background-color: dimgrey;
}

#panel{
    display: flex;
    align-items: center;
    flex-direction: row;
}
.side-panel{
    margin: 3px;
    padding: 0 5%;
    overflow: hidden;
    border-radius: 10px;
}

#middle-panel {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: black;
    margin: 3px;
    padding: 10px;
    overflow: hidden;
    width: 100%;
}
.post {
    width: 90%;
    color: black;
    margin: 3px;
    padding: 10px;
    overflow: hidden;
    border-radius: 10px;
    background-color: lightgray;
}

.post-header{
    margin: 0;
    padding: 0;
    overflow: hidden;
    border-radius: 10px;
}

.post-text {
    padding: 10px;
    margin: 0;
}

.post-img{
    padding: 10px 0 0 0;
    width: 100%;
}
